<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Munch Much?</title>
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="public/styles/styles.css">
</head>
<div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item" href="index.html">Home</a>
        <a class="item"href="contact.html">Contact</a>
        <a class="item"href="products.html">Your Log</a>
        <a class="item"></a>
        <div class="right item">
          <a class="item">MUNCH MUCH?</a>
  
        </div>
      </div>
    </div>
  <div class="ui green inverted header">
<h2>Munch Much?</h2>
<div class = "ui green inverted header">
  <h3>First Step in a Healthier Direction</h3>
</div>

  <br>
    <br>
    <br>  
  </div>
  <img class="ui centered medium image" src="salmon.jpeg" id="logo">

  </html>
  